---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
// 1. Genera una nueva ruta para cada entrada de colección
export async function getStaticPaths() {
    const postsEntries = await getCollection("posts");
    const postsFiltered = postsEntries.filter((post) => !post.data.draft && post.slug);
    return postsFiltered.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}
// 2. Para tu plantilla, puedes obtener la entrada directamente de la prop
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <h3>{post.data.title}</h3>
    <Content />
</Layout>
