---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
export const prerender = true;
// 1. Genera una nueva ruta para cada entrada de colección
export async function getStaticPaths() {
    const postsEntries = await getCollection("posts");
    const postsFiltered = postsEntries.filter(
        (post) => !post.data.draft && post.slug,
    );
    return postsFiltered.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}
// 2. Para tu plantilla, puedes obtener la entrada directamente de la prop
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <nav class="nav-posts">
        <a href="/"><i class="fa-solid fa-arrow-left"></i> Atras</a>
        <!--<a href="/posts">Siguiente</a>-->
    </nav>
    <Content />
</Layout>

<style>
    .nav-posts {
        padding-bottom: 10px;
    }
</style>
