---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mi">
    <h5>Sobre mi</h5>
    <p>
        ¡Hola! Soy desarrollador web full-stack, soy un uruguayo viviendo en
        Perú. Soy apasionado de la tecnologías y de la programación. Comencé
        este proyecto como forma de aterrizar mis conocimientos con Astro y una
        forma plasmar algunas ideas que tengo hace tiempo.
    </p>
    <p>
        Sobre el blog esta hecho principalmente con Astro y Bootstrap, dejo el
        codigo por si alguien quiere verlo y/o mejorarlo.
    </p>
</Layout>
<style></style>
