---
import Layout from "../layouts/Layout.astro";
import ContainerCardPost from "../components/ContainerCardPost.astro";
---

<Layout title="Inicio">
    <div class="mx-auto col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <ContainerCardPost />
    </div>
</Layout>

<style></style>
