---

---

<button
    id="btn-toggle-theme"
    type="button"
    class="btn btn-black"
    onclick="clickBtnThemeMode()"
    ><i id="theme-icon" class="fa-solid fa-sun"></i>
</button>

<script is:inline>
let theme = localStorage.getItem("theme") || "dark";
refreshButton();
// Asignar la función de cambio de tema a un botón o elemento HTML
function clickBtnThemeMode() {
    if (theme === "light") {
        theme = "dark";
    } else {
        theme = "light";
    }
    localStorage.setItem("theme", theme);
    document.documentElement.dataset.bsTheme = theme;
    refreshButton(theme);
}
function refreshButton() {
    // Actualizar el icono en el botón según el tema
    const themeIcon = document.getElementById("theme-icon");
    if (theme === "light") {
        themeIcon.classList.remove("fa-sun");
        themeIcon.classList.add("fa-moon");
    } else {
        themeIcon.classList.remove("fa-moon");
        themeIcon.classList.add("fa-sun");
    }
}
</script>
