---

---

<header class="pb-3 border-bottom">
	<div class="container">
		<div
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
		>
			<div>
				<a class="navbar-brand fs-2" href="/">CarpinchoDev</a>
			</div>
			<ul
				class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
			>
				<li>
					<a href="/" class="nav-link px-2 link-body-emphasis"
						>Inicio</a
					>
				</li>
				<li>
					<a href="/posts" class="nav-link px-2 link-body-emphasis"
						>Posts</a
					>
				</li>
				<li>
					<a href="/wiki" class="nav-link px-2 link-body-emphasis"
						>Wiki</a
					>
				</li>
				<li>
					<a href="/contact" class="nav-link px-2 link-body-emphasis"
						>Contacto</a
					>
				</li>
			</ul>
			<form
				class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
				role="search"
				data-dashlane-rid="9e635e1891b282ea"
				data-form-type=""
			>
				<input
					type="search"
					class="form-control"
					placeholder="Buscar..."
					aria-label="Search"
					data-dashlane-rid="12cff09148064054"
					data-form-type=""
				/>
			</form>
		</div>
	</div>
</header>

<style>
	.navbar-brand {
		font-family: "Roboto Mono", monospace;
		padding-right: 25px;
	}
</style>
